version: '3.7'

services:
  fronted:
    container_name: todo_front
    build:
      context: .
      dockerfile: Dockerfile.front
    volumes:
      - .:/app
      - vue_node_modules:/app/node_modules
    tty: True
    stdin_open: True
    ports:
      - "3031:3031"
    environment:
      TZ: "Asia/Tokyo"
    networks:
      todo_net:
        ipv4_address: 172.30.0.2

  backend:
    container_name: todo_back
    build:
      context: .
      dockerfile: Dockerfile.back
    volumes:
      - .:/app
    tty: True
    stdin_open: True
    ports:
      - "80:80"
    environment:
      TZ: "Asia/Tokyo"
      FLASK_APP: run.py
    depends_on:
      - mysql
    networks:
      todo_net:
        ipv4_address: 172.30.0.3

  mysql:
    image: mysql:5.7
    container_name: mysql_host
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: todo_app
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      TZ: Asia/Tokyo
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    ports:
      - 3306:3306
    volumes:
      - ./db/mysql/conf.d:/etc/mysql/conf.d
      - ./db/mysql/data:/var/lib/mysql
    networks:
      todo_net:
        ipv4_address: 172.30.0.4
volumes:
  vue_node_modules:

networks:
  todo_net:
    name: todo_net
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.30.0.0/24